.App {
  background-color: aliceblue;
  height: 100vh;

  align-items: cneter;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.input {
  margin: 50px 50px 50px;
  font-size: 25px;
}


.top_layer {

    margin-left: auto;
    margin-right: auto;
    min-height: 20%;
    width: 50%;
    
    display: flex;
    flex-direction: row;
}

.bottom_layer {
    margin-left: auto;
    margin-right: auto;
    min-height: 20%;
    width: 75%;
    display: flex;
    flex-direction: row;
}



